.net-profit {
  flex-grow: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  background-color: #202128;
  padding: 1rem;
  border-radius: 8px;
}

.np-text-head {
  /* font-weight: 300; */
  color: #dcdedf;
  margin: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.np-text-body {
  margin: 0;
  margin-top: 0.5rem;
}

.np-text-stonks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.75rem;
  color: #6fe753;
  margin-top: 1rem;
  margin-bottom: -1rem;
  margin-left: -0.5rem;
}
