.sidebar-wrapper {
  background-color: #202128;
  width: 5rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 0.5rem;
}

.element {
  border-left: 2px solid blue;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*Media Queries:*/

@media only screen and (max-width: 1250px) {
  .sidebar-wrapper {
    display: none;
  }
}
