.App {
  background-color: #141316;
  height: 100%;
  width: 100vw;
  color: white;
}

.page {
  background-color: #141316;
  margin-left: 5rem;
  height: 100%;
}

.topbar {
  background-color: #202128;
  width: calc(100%-5rem);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.page-header {
  margin: 1rem;
  margin-bottom: 0;
}

.row-01 {
  display: flex;
  flex-direction: row;
}

.row-02 {
  display: flex;
  flex-direction: row;
}

.row-03 {
  display: flex;
  flex-direction: row;
}

/*Media Queries:*/

/* mobile screens */
@media only screen and (min-width: 168px) and (max-width: 960px) {
  .page {
    margin-left: 0;
  }
  .row-01 {
    display: flex;
    flex-direction: column;
  }
  .row-02 {
    display: flex;
    flex-direction: column;
  }
  .row-03 {
    flex-direction: column;
  }
}

/* tablet screens */
@media only screen and (min-width: 961px) and (max-width: 1300px) {
  .page {
    margin-left: 0;
  }
  .row-01 {
    display: flex;
    flex-direction: column;
  }
  .row-02 {
    display: flex;
    flex-direction: column;
  }
  .row-03 {
    flex-direction: column;
  }
}
