.App {
  background-color: #141316;
  height: 100%;
  width: 100vw;
  color: white;
}

.page {
  background-color: #141316;
  margin-left: 5rem;
  height: 100%;
}

.topbar {
  background-color: #202128;
  width: calc(100%-5rem);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.page-header {
  margin: 1rem;
  margin-bottom: 0;
}

.row-01 {
  display: flex;
  flex-direction: row;
}

.row-03 {
  display: flex;
  flex-direction: row;
}

.customer-feedback {
  background-color: #202128;
  /* min-width: 10rem; */
  width: 51rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem;
  border-radius: 8px;
  padding: 1rem;
}

.feedback-card {
  border-bottom: 1px solid #2a2a32;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.feedback-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.feedback-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1rem;
  gap: 0.5rem;
}

.feedback-header-text {
  margin: 0;
}

.feedback-header-text-review {
  margin: 0;
  display: flex;
  gap: 0.25rem;
}

.feedback-card-body {
  color: #707174;
}

/*Media Queries:*/

/* mobile screens */
@media only screen and (min-width: 168px) and (max-width: 960px) {
  .page {
    margin-left: 0;
  }
  .row-01 {
    display: flex;
    flex-direction: column;
  }
  .row-03 {
    flex-direction: column;
  }
  .customer-feedback {
    width: 88vw;
  }
}

/* tablet screens */
@media only screen and (min-width: 961px) and (max-width: 1300px) {
  .page {
    margin-left: 0;
  }
  .row-01 {
    display: flex;
    flex-direction: column;
  }
  .row-03 {
    flex-direction: column;
  }
  .customer-feedback {
    width: 94vw;
  }
}
